[user]
# set in /etc/gitconfig so I can reuse this file across machines

[alias]
	st = status
	a = add
	ci = commit
	ca = commit -a
	br = branch
	bra = branch -a
	stashes = stash list
	co = checkout
	undo = checkout
	cob = checkout -b
	df = diff
	p2usb = push usb
	ignorechanges = update-index --assume-unchanged
	unignorechanges = update-index --no-assume-unchanged
	lg = log -p
	l1 = log -1
	l2 = log -2
	l5 = log -5
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	spull = svn rebase
	svnsafepull = "!f(){ git stash; git spull; git stash pop; }; f"
	spush = svn dcommit
	sunpushed = svn dcommit -n
	sbranch = svn branch
	svnconnectremotebranch = "!f() { git checkout -b local/$1 $1; }; f"
	ls = ls-files
	fixcommit = rebase --interactive
	fixlastmsg = commit --amend
	cleanindex = update-index --refresh
	ignore = "!f () { local ignore_file=$( git rev-parse --show-cdup ).gitignore arg; for arg in $*; do echo $arg >> $ignore_file; done; sort -u -o $ignore_file $ignore_file; }; f"
[color]
	ui = "auto"
[color "branch"]
	current = red reverse
	local = red
	remote = green
[color "diff"]
	meta = blue bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = green
	untracked = red
[code]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[giggle]
	main-window-maximized = false
	main-window-geometry = 1260x886+427+92
	main-window-view = FileView
	history-view-vpane-position = 597
	file-view-hpane-position = 266
	file-view-vpane-position = 568
[branch "master"]
	remote = origin
	merge = refs/heads/master
