packages: [
  "asciidoc-assistant"
  "asciidoc-image-helper"
  "asciidoc-preview"
  "atom-beautify"
  "atom-python-run"
  "atom-python-test"
  "autoclose-html"
  "autocomplete-asciidoc"
  "autocomplete-bash-builtins"
  "autocomplete-python"
  "command-executor"
  "delorean"
  "elm"
  "elm-format"
  "git-go"
  "git-history"
  "git-plus"
  "git-time-machine"
  "git-tools"
  "html-to-elm"
  "intellij-idea-keymap"
  "language-asciidoc"
  "language-dotfiles"
  "language-dots"
  "language-elm"
  "language-groovy"
  "less-than-slash"
  "linter"
  "package-sync"
  "pretty-json"
  "python-tools"
  "xml-formatter"
]
