packages: [
  "asciidoc-assistant"
  "asciidoc-image-helper"
  "asciidoc-preview"
  "atom-beautify"
  "atom-python-run"
  "atom-python-test"
  "autoclose-html"
  "autocomplete-asciidoc"
  "autocomplete-go"
  "autocomplete-python"
  "builder-go"
  "delorean"
  "elm"
  "elm-format"
  "git-go"
  "git-history"
  "git-plus"
  "git-time-machine"
  "git-tools"
  "go-config"
  "go-get"
  "go-imports"
  "go-playground"
  "go-plus"
  "go-quick-import"
  "go-rename"
  "godoc"
  "goextract"
  "gofmt"
  "gometalinter-linter"
  "gorename"
  "gotests"
  "html-to-elm"
  "intellij-idea-keymap"
  "language-asciidoc"
  "language-elm"
  "language-groovy"
  "linter"
  "navigator-godef"
  "package-sync"
  "pretty-json"
  "python-tools"
  "tester-go"
  "xml-formatter"
]
